<div class="container">

  孫詳細
  <br />
  <a href="/gchilds">孫一覧へ戻る</a>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>sfid</th>
      <th>uuid</th>
      <th>text</th>
    </tr>
    <tr>
      <td><%= @gchild.id %></td>
      <td><%= @gchild.sfid %></td>
      <td><%= @gchild.uuid__c %></td>
      <td><%= @gchild.text__c %></td>
    </tr>
  </table>
  <br />
  <br />



  <form method="post" action="/gchild_edit_complete">

    id：<input type= "text" name="id" value='#{@gchild.id}'><%= @gchild.id %></input><br />
    uuid：<input type= "text" name="uuid__c"><%= @gchild.uuid__c %></input><br />
    text：<input type= "text" name="text__c"><%= @gchild.text__c %></input><br />
    <input type= "submit" value="更新"><br />
  </form>


</div>
