<div class="container">

  孫詳細
  <br />
  <a href="/gchilds">孫一覧へ戻る</a>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>sfid</th>
      <th>uuid</th>
      <th>text</th>
    </tr>
    <tr>
      <td><%= @gchild.id %></td>
      <td><%= @gchild.sfid %></td>
      <td><%= @gchild.uuid__c %></td>
      <td><%= @gchild.text__c %></td>
    </tr>
  </table>
  <br />
  <br />



  <%= form_for(@gchild, :url => {:action => 'gchild_edit_complete'} ) do |f| %>
    <%= f.hidden_field :id, id %>
    <table>
      <tr>
        <td><%= f.label :uuid__c %></td>
        <td><%= f.text_field :uuid__c %></td>
      </tr>
      <tr>
        <td><%= f.label :text__c %></td>
        <td><%= f.text_field :text__c %></td>
      </tr>
      </table>
      <%= f.submit "更新" %>
  <% end %>

</div>
