<div class="container">

  Heroku-apps<br>
  ※heroku-connect-sample2はメンテナンスONしないで。。<br>
  <table class="table table-striped table-bordered">
    <tr>
      <th>id</th>
      <th>app name</th>
      <th>メンテON</th>
      <th>メンテOFF</th>
    </tr>

    <% @apps.each do |app| %>
      <tr>
        <td><%= app['id'] %></td>
        <td><%= app['name'] %></td>
        <td><a href="/herokus_mante_on/<%= app['name'] %>">ON</a></p>
        <td><a href="/herokus_mante_off/<%= app['name'] %>">OFF</a></p>
      </tr>
    <% end %>
  </table>


  SF-AP0-メンテナンス予定<br>
  <table class="table table-striped table-bordered">
    <tr>
      <th>name</th>
      <th>availability</th>
      <th>plannedStartTime</th>
      <th>plannedEndTime</th>
      <th>updatedAt</th>
    </tr>

    <% @result['Maintenances'].each do |mainte| %>
      <tr>
        <td><%= mainte['name'] %></td>
        <td><%= mainte['message']['availability'] %></td>
        <td><%= mainte['plannedStartTime'] %></td>
        <td><%= mainte['plannedEndTime'] %></td>
        <td><%= mainte['updatedAt'] %></td>
      </tr>
    <% end %>
  </table>

</div>
